@import 'normalize.css';
@font-face {
    font-family: 'roboto';
    src: url('/src/assets/fonts/Roboto-Italic-VariableFont_wdth\,wght.ttf') format('ttf'),
         url('/src/assets/fonts/Roboto-VariableFont_wdth\,wght.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap; /* Ensures text is visible while the font loads */
  }

:root {
    --primary-color: #e30019;
}

#root {
    font-family: 'roboto', sans-serif;
    
}